<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Загрузка данных</label>
            <input class="form-control" type="file" name="file" id="formFile">
            <br>
            <button type="submit" class="btn btn-success">Загрузить</button>
            <span style="color:green" th:if="${successUpload}"  th:text="'Загружено новых записей: ' + ${uploadRecords}">Upload</span>
            <span style="color:red" th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
        </div>
    </form>
    <form th:action="@{clear}" method="post">
        <button type="submit" class="btn btn-success">Удалить данные</button>
        <span style="color:red" th:if="${successDelete}"  th:text="'Удалено записей: ' + ${deletedRecords}">Delete</span>
    </form>
</div>
</body>
</html>