<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Данные</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <h1>Имеются ошибки в исходном файле</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-auto">
            №
        </div>
        <div class="col">
            error
        </div>
    </div>
</div>
<br>
<div th:each="error,iter : ${errors}" class="container">
    <div class="row">
        <div class="col-md-auto">
            <p th:text="${iter.index + 1}"/>
        </div>
        <div class="col">
            <p th:text="${error}"/>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>