<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Данные</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <data-control th:insert="blocks/data-control :: data-control"></data-control>
    <br>
    <br>
    <div class="row">
        <div class="col">
            №
        </div>
        <div class="col">
            CASE ID
        </div>
        <div class="col">
            ATM ID
        </div>
        <div class="col">
            Название управляющей причины
        </div>
        <div class="col">
            Начало
        </div>
        <div class="col">
            Окончание
        </div>
        <div class="col">
            Серийный номер
        </div>
        <div class="col">
            BANK_NM
        </div>
        <div class="col">
            Канал связи
        </div>
        <div class="col">
        </div>
    </div>
</div>
<br>
<div th:each="event,iter : ${events}" class="container">
    <div class="row">
        <div class="col">
            <p th:text="${iter.index + 1}"/>
        </div>
        <div class="col">
            <p th:text="${event.caseId}"/>
        </div>
        <div class="col">
            <p th:text="${event.atmId}"/>
        </div>
        <div class="col">
            <p th:text="${event.reasonName}"/>
        </div>
        <div class="col">
            <p th:text="${#dates.format(event.beginTime, 'dd-MM-yyyy HH:mm')}"/>
        </div>
        <div class="col">
            <p th:text="${#dates.format(event.endTime, 'dd-MM-yyyy HH:mm')}"/>
        </div>
        <div class="col">
            <p th:text="${event.serialNumber}"/>
        </div>
        <div class="col">
            <p th:text="${event.bankNm}"/>
        </div>
        <div class="col">
            <p th:text="${event.connectionChannel}"/>
        </div>
        <div class="col">
            <a th:href="'/data/' + ${event.id} +'/edit'" class="btn btn-success">Edit</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>