<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ТОП 3 причины</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <data-control th:insert="blocks/data-control :: data-control"></data-control>
    <br>
    <br>
    <div class="row">
        <div class="col">
            №
        </div>
        <div class="col">
            Название управляющей причины
        </div>
        <div class="col">
            Количество
        </div>
    </div>
</div>
<br>
<div th:each="reason,iter : ${top3reasons}" class="container">
    <div class="row">
        <div class="col">
            <p th:text="${iter.index + 1}"/>
        </div>
        <div class="col">
            <p th:text="${reason.getKey()}"/>
        </div>
        <div class="col">
            <p th:text="${reason.getValue()}"/>
        </div>
    </div>
</div>

</body>
</html>