<div th:fragment="data-control">
    <a type="button" class="btn btn-success" href="/data">Показать всё</a>
    <a class="btn btn-success" href="/data/top3-reasons">Показать ТОП 3 причины</a>
    <a class="btn btn-success" href="/data/top3-repair-time">Показать ТОП 3 времени ремонта</a>
    <a class="btn btn-success" href="/data/repeat-repairs">Показать повторные ремонты</a>
</div>