<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Управление</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/data">Данные</a>
        </nav>
    </div>
</div>